@charset "UTF-8";

/* * * * * * * * *
* base
* * * * * * * * */
*, *::before, *::after {
  box-sizing: border-box;
}
h1, p {
  margin: 0;
  padding: 0;
}
body {
  font-size: 16px;
  font-family: "Hiragino Kaku Gothic ProN", "ヒラギノ角ゴ ProN W3", Meiryo, "メイリオ", Osaka, "MS PGothic", arial, helvetica, sans-serif;
  color: #2b2b2b;
  margin: 0;
}
a {
  color: #333;
  text-decoration: none;
}
section {
  text-align: center;
}

/* * * * * * * * *
* utility
* * * * * * * * */
.u-content {
  max-width: 960px;
  margin: 0 auto;
}
.u-py96 {
  padding: 96px 0;
}
.u-heading {
  position: relative;
  display: inline-block;
  margin: 0 0 32px;
  padding-bottom: 24px;
  font-size: 36px;
  letter-spacing: 2px;
}
.u-heading::after {
  content: '';
  position: absolute;
  right: 40%;
  bottom: 0;
  left: 40%;
  border-bottom: 1px solid;
}
.u-text {
  margin-bottom: 70px;
  line-height: 1.9;
  letter-spacing: 1.4px;
}

/* * * * * * * * *
* header
* * * * * * * * */
.header {
  height: 620px;
  padding-top: 40px;
  background: url('img/header.png');
  background-size: cover;
  color: #fff;
  text-align: center;
}
.header__nav {
  display: flex;
  justify-content: space-between;
}
.header__nav__logo {
  font-size: 36px;
}
.header__nav__menu {
  width: 40px;
  height: 40px;
  position: relative;
  cursor: pointer;
}
.header__nav__menu span,
.header__nav__menu span::before,
.header__nav__menu span::after {
  width: 32px;
  height: 0.7px;
  left: 50%;
  display: block;
  position: absolute;
  background: #fff;
  transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
}
.header__nav__menu span::before,
.header__nav__menu span::after {
  content: "";
}
.header__nav__menu span {
  top: 50%;
}
.header__nav__menu span::before {
  top: calc(50% - 8px);
}
.header__nav__menu span::after {
  top: calc(50% + 8px);
}
.header__title {
  font-size: 120px;
  font-weight: normal;
}
.header__title__sub {
  word-spacing: 4px;
}
.header__title__sub::before,
.header__title__sub::after {
  content: '';
  display: inline-block;
  width: 12px;
  height: 2px;
  margin: 0 8px;
  background-color: #fff;
  vertical-align: middle;
}

/* * * * * * * * *
* concept
* * * * * * * * */
.concept {
  height: 876px;
  background: linear-gradient(#fff 68%, #ededed 32%);
}

/* * * * * * * * *
* concept
* * * * * * * * */
.work {
  /* height: 876px; */
}
