@charset "UTF-8";

/* * * * * * * * *
* base
* * * * * * * * */
*, *::before, *::after {
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: "Hiragino Kaku Gothic ProN", "ヒラギノ角ゴ ProN W3", Meiryo, "メイリオ", Osaka, "MS PGothic", arial, helvetica, sans-serif;
  font-size: 16px;
  color: #2b2b2b;
}
h1, h2, h3, p {
  margin: 0;
  padding: 0;
}
a {
  color: #2b2b2b;
  text-decoration: none;
}
section {
  text-align: center;
}
tbody {
  vertical-align: inherit;
}
th, td {
  font-weight: normal;
  padding: 0;
}

/* * * * * * * * *
* utility
* * * * * * * * */
.u-contentWrapper {
  max-width: 960px;
  margin: 0 auto;
}
.u-heading {
  position: relative;
  margin-bottom: 32px;
  padding-bottom: 24px;
  font-size: 36px;
  letter-spacing: 2px;
}
.u-heading::after {
  content: '';
  width: 40px;
  height: 1px;
  background: #2b2b2b;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}
.u-text {
  margin-bottom: 64px;
  line-height: 1.8;
  letter-spacing: 1.4px;
}

/* * * * * * * * *
* header
* * * * * * * * */
.header {
  position: relative;
  width: 100%;
  height: 620px;
  padding-top: 40px;
  background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url('img/header.png');
  background-size: cover;
  text-align: center;
  color: #fff;
}
.header__nav {
  position: absolute;
  top: 40px;
  width: 100%;
  line-height: 64px;
}
.position-change {
  position: fixed;
  top: 0;
  z-index: 100;
}
.color-chnage {
  color: #2b2b2b;
  background-color: #fff;
  border-bottom: 1px solid #a0a0a0;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}
.header__nav .u-contentWrapper {
  display: flex;
  justify-content: space-between;
}
.header__nav__logo {
  font-size: 36px;
}
.header__nav__menu {
  position: relative;
  width: 40px;
  height: 64px;
  cursor: pointer;
}
.header__nav__menu span,
.header__nav__menu span::before,
.header__nav__menu span::after {
  position: absolute;
  left: 50%;
  display: block;
  width: 32px;
  height: 0.7px;
  background: #fff;
  transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
}
.color-chnage span,
.color-chnage span::before,
.color-chnage span::after {
  background: #2b2b2b;
}
.header__nav__menu span::before,
.header__nav__menu span::after {
  content: "";
}
.header__nav__menu span {
  top: 50%;
}
.header__nav__menu span::before {
  top: calc(50% - 8px);
}
.header__nav__menu span::after {
  top: calc(50% + 8px);
}
.header__title {
  padding-top: 160px;
  font-size: 120px;
  font-weight: normal;
}
.header__title__sub {
  word-spacing: 4px;
}
.header__title__sub::before,
.header__title__sub::after {
  content: '';
  display: inline-block;
  width: 12px;
  height: 2px;
  margin: 0 8px;
  background-color: #fff;
  vertical-align: middle;
}

/* * * * * * * * *
* Concept
* * * * * * * * */
.concept {
  width: 100%;
  padding: 80px 0;
  background: linear-gradient(#fff 70%, #ededed 30%);
}
.concept__image {
  width: 100%;
}

/* * * * * * * * *
* Work
* * * * * * * * */
.work {
  width: 100%;
  padding-top: 80px;
}
.work__contents {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: space-between;
  height: 1680px;
}
.work__content {
  width: 420px;
  margin-bottom: 80px;
  text-align: left;
  line-height: 1.8;
}
.work__content:nth-of-type(1) {order: 1;}
.work__content:nth-of-type(2) {
  order: 3;
  margin-top: 120px;
}
.work__content:nth-of-type(3) {order: 2;}
.work__content:nth-of-type(4) {order: 4;}

.work__content__image {
  width: 100%;
  margin-bottom: 16px;
}
.work__content__heading {
  font-size: 24px;
}
.work__content__text {
  letter-spacing: 1.5px;
}

/* * * * * * * * *
* Florist
* * * * * * * * */
.florist {
  width: 100%;
  padding: 80px 0;
  background: linear-gradient(#ededed 50%, #fff 50%);
}
.florist__persons {
  display: flex;
  justify-content: space-between;
}
.florist__person {
  width: 300px;
  text-align: left;
  line-height: 1.8;
}
.florist__person__image {
  margin-bottom: 8px;
}
.florist__person__name {
  font-size: 24px;
}
.florist__person__introduce {
  letter-spacing: 1.5px;
}

/* * * * * * * * *
* Shop information
* * * * * * * * */
.shopInformation {
  width: 100%;
  padding: 80px 0 120px;
}
.shopInformation__contents {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.shopInformation__image {
  width: 50%;
}
.shopInformation__table {
  border-spacing: 16px;
  text-align: left;
  letter-spacing: 1.5px;
  line-height: 2;
}
.shopInformation__table__heading {
  width: 100px;
  border-right: 1px solid #a0a0a0;
}

/* * * * * * * * *
* Contact us
* * * * * * * * */
.contactUs {
  width: 100%;
  padding: 80px 0;
  background: linear-gradient(rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 0.6)), url('img/contact_us.png');
  background-size: cover;
}
.btn__contact {
  position: relative;
  display: inline-block;
  width: 360px;
  padding-left: 40px;
  line-height: 80px;
  letter-spacing: 2px;
  border: 1px solid #a0a0a0;
  background: #fff;
  font-size: 20px;
}
.btn__contact::before,
.btn__contact::after {
  content: '';
  position: absolute;
  border-radius: 2px;
}
.btn__contact::before {
  top: 30px;
  left: 85px;
  width: 30px;
  height: 20px;
  border: 1px solid #2b2b2b;
}
.btn__contact::after {
  top: 21px;
  left: 90px;
  width: 20px;
  height: 20px;
  border-right: 1px solid #2b2b2b;
  border-bottom: 1px solid #2b2b2b;
  transform: rotate(45deg);
}

/* * * * * * * * *
* footer
* * * * * * * * */
.footer {
  width: 100%;
  text-align: center;
}
.footer__copyright {
  line-height: 40px;
  letter-spacing: 1.4px;
}

/* * * * * * * * *
* レスポンシブ対応
* * * * * * * * */
@media (max-width: 670px) {
  body {
    font-size: 14px;
  }

  .u-contentWrapper {
    width: calc(100% - 32px);
    margin: 0 auto;
  }

  .header {
    height: 355px;
    padding-top: 0;
    background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url(img/header.png) 50%;
    background-size: cover;
  }
  .header__nav {
    top: 0;
  }
  .header__nav__logo {
    font-size: 24px;
  }
  .header__title {
    padding-top: 96px;
    font-size: 64px;
  }

  .concept__image {
    width: 100%;
  }
  .work__contents {
    display: block;
    height: auto;
  }
  .work__content {
    width: 100%;
  }
  .florist__persons {
    display: block;
  }
  .shopInformation__contents {
    display: block;
    margin-bottom: 180px;
  }
}
